/* CSS  RESEt */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F8F9;
}

/* Utilites */
.mt1 {
  margin-top: 1rem;
}

.mt2{
  margin-top: 2px;
}

.mt3 {
  margin-top: 3rem;
}

.ml1 {
  margin-left: 1rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.p1 {
  padding: 1rem;
}

.bg-color {
  background-color: #F6F8F9;
}

.bg-white {
  background-color: #fff;
}

.active {
  background-color: #47ADF1;
  color: #fff;
}

.text-center {
  height: 100px;
  line-height: 100px;
}

.circle {
  border: 2px solid #5BBCA4;
  border-radius: 50%;
}

strong {
  font-size: 4rem;
}

button {
  border-radius: 5px;
  padding: .8rem;
  border: none;
  margin-left: 4px;
}

ul {
  list-style: none;
}

.btn {
  color: #fff;
  border-radius: 23px;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 12px;
}

.btn-disabled {
  border: 2px solid #CED3D7;
}

.edit-btn {
    background-color: #45ABEA;
}

.goals-btn {
  background-color: #9C72E4;
}

main {
  margin: 2rem 15%;
}

.pad-main {
  padding: 1rem 5rem;
}

.recruit-btn {
  background-color: #64C0A9;
}

.mobile-btn {
  background-color: #F29E33;
}

.web-btn {
  background-color: #D863A1;
}

.sales-btn {
  background-color: #B0C926;
}


#app-footer {
  text-align: center;
}

